/* Provide sufficient contrast against white background */
@import '~antd/dist/antd.css';

h1.title {
  color: white;
}

main.content-layout {
  padding: 50px 30px 50px 80px;
}

section.site-layout-background {
  background: white;
  padding: 25px;
}

main.content-home {
  padding: 0px 25px;
  min-height: 280px;
}

footer.footer-layout {
  text-align: center;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
