$primary-color: #582bd9;
$header-height: 72px;

.header-fixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $header-height;
}

.right-nav {
  float: right;
  margin-top: 4px;
  .nav-link {
    color: white;
  }
}

h3.header-title {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

main.header-greeting {
  $vertical-padding: 24px;
  background: $primary-color;
  padding-top: $header-height + $vertical-padding;
  padding-bottom: $vertical-padding;
  article {
    font-size: 16px;
    color: white;
  }
}

footer {
  text-align: center;
}
