/* Provide sufficient contrast against white background */
@import '~antd/dist/antd.css';

header.header-layout {
    background: #582BD9;
    position: fixed;
    width: 100%;
    z-index: 51;
    height: 72px;
}

header.header-no-padding{
    padding: 0px 0px 0px 0px;
}

h3.header-title-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

h3.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

h3.header-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

h4.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

main.content-layout {
    background: #582BD9;
    margin: 10vh 0px 0px 0px;
    min-height: 300px;
    align-items: center;
}


main.greetings-content-layout {
    background: #582BD9;
    min-height: 300px;
    align-items: center;
}

    main.content-layout-main {
        padding: 50px 100px 50px 100px;
        align-items: center;
    }

    section.layout-white-background {
        background: white;
        align-items: center;
    }

    section.layout-purple-background {
        background: #582BD9;
        align-items: center;
    }

    main.content-home {
        padding: 0px 25px;
        min-height: 280px;
        align-items: center;
    }

    footer.footer-layout {
        text-align: center;
    }

    a {
        color: #0366d6;
    }

    code {
        color: #E01A76;
    }

    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }
