$primary-color: #582bd9;
$header-height: 72px;

.header-fixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $header-height;
  background-color: $primary-color;

  @media screen and (max-width: 768px) {
    padding: 0 12px;
  }

  h3 {
    color: white;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.right-nav {
  float: right;
  margin-top: 4px;
  .nav-link {
    color: white;
    &:hover {
      color: darken(white, 10%);
    }
  }

  .ant-btn-primary {
    background-color: white;
    border-color: white;
    color: $primary-color;
    font-weight: bold;

    &:hover {
      background-color: darken(white, 10%);
      border-color: darken(white, 10%);
    }
  }

  @media screen and (max-width: 768px) {
    button {
      padding: 4px 10px;
    }
  }
}

main.header-greeting {
  $vertical-padding: 24px;
  background: $primary-color;
  padding-top: $header-height + $vertical-padding;
  padding-bottom: $vertical-padding + 24px;
  h1 {
    color: white;
  }
  article {
    font-size: 16px;
    color: white;
  }
}

.company-content {
  position: relative;
}

#top-of-companies {
  position: absolute;
  top: -72px;
}

.companies-loading {
  margin-top: 40px;
  margin-bottom: 24px;
}

.business-search {
  margin-top: 12px;
  margin-bottom: 4px;
}
