.business-search {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 8px;

  .ant-input-search {
    background-color: #eff2f8;

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
      border: 1px solid darken(#d9d9d9, 15%);
    }
  }

  input {
    background: none;
  }
}
