$primary-color: #eff2f8;
$header-height: 72px;

.ant-layout-header {
  padding: 0 0px;
}

.header-fixed {
  height: $header-height;
  background: none;

  @media screen and (max-width: 768px) {
    padding: 0 12px;
  }
  h4 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.ant-menu-item-group-title {
  padding: 0px;
}

.ant-menu-submenu-title {
  color: #000;
  font-weight: bold;
}

.right-nav {
  float: right;
  margin-top: 4px;
  .nav-link {
    color: black;
    font-weight: bold;
    &:hover {
      color: lighten(black, 15%);
    }
  }

  .ant-btn-primary {
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;

    &:hover {
      background-color: lighten(black, 20%);
    }
  }

  @media screen and (max-width: 768px) {
    button {
      padding: 4px 10px;
    }
  }
}

main.header-greeting {
  $vertical-padding: 24px;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  margin-bottom: 12px;

  @media screen and (max-width: 768px) {
    padding: 0px 12px;
    padding-bottom: 12px;
  }

  article {
    font-size: 16px;
  }
}

.company-content {
  position: relative;
}

.companies-loading {
  margin-top: 40px;
  margin-bottom: 24px;
  width: 100%;
}

.background-people {
  position: fixed;

  @media screen and (min-width: 768px) {
    .woman {
      -webkit-transform: translate(1000px, 0px);
    }

    .man {
      -webkit-transform: translate(-900px, 400px);
    }
  }

  @media screen and (max-width: 768px) {
    .woman {
      -webkit-transform: scale(0.7) translate(150px, -140px);
    }

    .man {
      -webkit-transform: translate(-900px, 400px);
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .woman {
      -webkit-transform: scale(0.7) translate(800px, -250px);
    }

    .man {
      -webkit-transform: scale(0.7) translate(-200px, -450px);
    }
  }
}
