#folks-linker {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  .made-by {
    color: grey;
  }

  a {
    color: grey;
    text-decoration: underline;
  }

  .cool-folks {
    text-decoration: underline;
    cursor: pointer;
  }
}
