.business-card {
  margin-top: 8px;
  border: 1px solid #c3d2e0;
  .ant-card-head {
    border-bottom: none;
    padding-left: 16px;
    padding-right: 16px;
  }
  .ant-card-head-title {
    font-size: 16px;
    font-weight: 700;
  }
}

.ant-card-body {
  padding-top: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.in-search {
  padding-bottom: 8px;
  font-size: 14px;
  color: #aaaaaa;
}

.created-on {
  font-weight: lighter;
  font-size: 14px;
  float: right;
  color: #949494;
}
.city-state {
  font-weight: lighter;
  font-size: 14px;
  color: #949494;
}

.category-tag {
  margin-top: -40px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.1px;
}

.business-links {
  display: inline-block;
  a:not(:last-child) {
    margin-right: 4px;
  }
}

.action-buttons {
  .user-action-links {
    float: right;
  }

  .business-links {
    display: inline-block;
    a:not(:last-child) {
      margin-right: 4px;
    }
  }

  .donate-button {
    float: right;
  }
}

.interaction-tags {
  display: inline-block;
  & > div {
    border-radius: 4px;
    display: inline-block;
    padding: 4px 8px;
    margin-right: 4px;
    margin-top: 4px;
  }
  .delivery-tag {
    background-color: #f1d4fc;
  }
  .takeout-tag {
    background-color: #fce2d4;
  }
  .curbside-tag {
    background-color: #d4fcda;
  }
  .appointment-tag {
    background-color: #d4d8fc;
  }
  .livestream-tag {
    background-color: #fcd4d4;
  }
}
