#business-filter-group-vertical {
  margin-top: 8px;
  .filter-title {
    line-height: normal;
    margin-bottom: 8px;
    padding: 4px 0;
    padding-left: 16px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }
}

.business-filter-dropdown {
  min-width: 200px;
}
