.business-filter-group-horizontal {
  margin-top: 8px;
  padding-top: 8px;
  padding-left: 16px;
  background-color: white;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.13);
  .filter-title {
    display: inline-block;
    margin-right: 8px;
    font-weight: bold;
  }
}

#business-filter-group-vertical {
  margin-top: 8px;
  .filter-title {
    line-height: normal;
    margin-bottom: 8px;
    padding: 4px 0;
    padding-left: 16px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }
}

.business-filter-dropdown {
  min-width: 200px;
}
