#listingapprovals {
  .ant-list-split .ant-list-item {
    border: 1px solid #cecece;
    border-radius: 5px;
  }

  .approval-item {
    padding: 12px;
  }

  .approval-buttons {
    padding-top: 24px;
  }
}
